<h1>
    Welcome

    <br>
    goodbye_url => http://localhost:3000/goodbye
    <br>
    goodbye_path => /goodbye
    <br>
    <%= link_to "Goodbye url", goodbye_url %> 
    <%= link_to "Goodbye path", goodbye_path %> 
</h1>