<h1>New Post</h1>
<form action="/posts" method="POST">
    <input type="text" name="title" id="" placeholder="input a title">
    <input type="url" name="imageUrl" id="" placeholder="put a image url here">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit">
</form>